openapi: 3.1.0
info:
  title: EdgeSignals API
  description: |
    AI-powered prediction market signals API. Get real-time trading signals based on 
    news events and market analysis.
    
    ## Authentication
    Most endpoints require authentication via Bearer token or session cookie.
    
    ## Rate Limiting
    All API endpoints (except /api/health) are rate limited by tier:
    - Unauthenticated: 20 req/min
    - Free: 10 req/min
    - Pro: 100 req/min
    - Enterprise: 1000 req/min
    
    Rate limit info is returned in response headers:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Seconds until reset
  version: 1.0.0
  contact:
    name: EdgeSignals Support
    url: https://edgesignals.ai
  license:
    name: Proprietary
    url: https://edgesignals.ai/terms

servers:
  - url: https://edgesignals.ai
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Signals
    description: Trading signals and market data
  - name: Auth
    description: Authentication endpoints
  - name: Notifications
    description: Push notification management
  - name: Payments
    description: Subscription and billing
  - name: System
    description: Health and monitoring

paths:
  /api/health:
    get:
      summary: Health Check
      description: Service health status for monitoring and load balancers. Not rate limited.
      tags: [System]
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/signals:
    get:
      summary: Get Trading Signals
      description: |
        Returns recent trading signals. Free tier signals are delayed by 15 minutes.
        Signals include trade entries, exits, and news alerts.
      tags: [Signals]
      parameters:
        - name: tier
          in: query
          description: User tier (affects signal delay)
          schema:
            type: string
            enum: [free, pro, enterprise]
            default: free
        - name: limit
          in: query
          description: Maximum number of signals to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: List of trading signals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalsResponse'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/track-record:
    get:
      summary: Get Track Record
      description: Returns historical performance metrics and trade statistics.
      tags: [Signals]
      responses:
        '200':
          description: Track record data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackRecordResponse'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/feed:
    get:
      summary: RSS Feed
      description: |
        RSS 2.0 feed of recent trading signals. Not rate limited.
        Useful for RSS readers, automation tools, and integrations.
      tags: [Signals]
      security: []
      parameters:
        - name: limit
          in: query
          description: Number of feed items
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: RSS feed
          content:
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML document

  /api/waitlist:
    post:
      summary: Join Waitlist
      description: Add email to the waitlist for early access.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to add
      responses:
        '200':
          description: Successfully added to waitlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Invalid email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/auth/signup:
    post:
      summary: Create Account
      description: Register a new user account with email and password.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input or email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/notifications/subscribe:
    post:
      summary: Subscribe to Notifications
      description: Subscribe to push notifications with device token.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:
                  type: string
                  description: Device push token
                platform:
                  type: string
                  enum: [ios, android, web]
      responses:
        '200':
          description: Subscribed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscriptionId:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/notifications/unsubscribe:
    post:
      summary: Unsubscribe from Notifications
      description: Remove push notification subscription.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Device push token to remove
      responses:
        '200':
          description: Unsubscribed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/dodo/checkout:
    post:
      summary: Create Checkout Session (Dodo)
      description: Create a Dodo Payments checkout session for subscription.
      tags: [Payments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [pro, enterprise]
                  description: Subscription plan
      responses:
        '200':
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutUrl:
                    type: string
                    format: uri
        '400':
          description: Invalid plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Payments not configured
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  waitlistUrl:
                    type: string
                    format: uri

  /api/lemonsqueezy/checkout:
    post:
      summary: Create Checkout Session (LemonSqueezy)
      description: Create a LemonSqueezy checkout session for subscription.
      tags: [Payments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [pro, enterprise]
                  description: Subscription plan
      responses:
        '200':
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutUrl:
                    type: string
                    format: uri
        '400':
          description: Invalid plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Payments not configured
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  waitlistUrl:
                    type: string
                    format: uri

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token

  schemas:
    Signal:
      type: object
      required: [id, date, headline, market, signal, confidence, priceAtSignal, status]
      properties:
        id:
          type: string
          description: Unique signal identifier
          example: trade-15
        date:
          type: string
          description: Signal timestamp
          example: "02/01/2026 14:30"
        headline:
          type: string
          description: News headline or trade reason
          example: "OpenAI announces ChatGPT Enterprise pricing"
        market:
          type: string
          description: Market name or question
          example: "Will OpenAI launch ads by March 2026?"
        signal:
          type: string
          description: Trade direction
          example: "BUY YES"
        confidence:
          type: string
          enum: [HIGH, MEDIUM, LOW]
          description: Signal confidence level
        priceAtSignal:
          type: string
          description: Market price at signal time
          example: "45.2%"
        currentPrice:
          type: string
          description: Current market price
          example: "52.1%"
        pnl:
          type: string
          description: Profit/loss for closed positions
          example: "+$78.65"
        status:
          type: string
          enum: [open, closed, pending]
          description: Position status

    SignalsResponse:
      type: object
      properties:
        signals:
          type: array
          items:
            $ref: '#/components/schemas/Signal'
        meta:
          type: object
          properties:
            tier:
              type: string
              enum: [free, pro, enterprise]
            count:
              type: integer
            delayed:
              type: boolean
              description: Whether signals are delayed (free tier)
            timestamp:
              type: string
              format: date-time

    TrackRecordResponse:
      type: object
      properties:
        totalTrades:
          type: integer
          description: Total number of trades
        winRate:
          type: number
          format: float
          description: Win rate percentage (0-100)
        totalPnL:
          type: number
          format: float
          description: Total profit/loss in USD
        avgHoldTime:
          type: string
          description: Average position hold time
        recentTrades:
          type: array
          items:
            $ref: '#/components/schemas/Signal'

    HealthResponse:
      type: object
      required: [status, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "1.0.0"
        uptime:
          type: integer
          description: Uptime in seconds
        checks:
          type: object
          properties:
            api:
              type: string
              enum: [ok, error]
            dataFiles:
              type: string
              enum: [ok, error]
            memory:
              type: object
              properties:
                used:
                  type: integer
                total:
                  type: integer
                percentage:
                  type: integer

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        tier:
          type: string
          enum: [free, pro, enterprise]
        createdAt:
          type: string
          format: date-time

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Error message
        message:
          type: string
          description: Detailed error description

    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: "Rate limit exceeded"
        message:
          type: string
          example: "Too many requests. Please retry in 45 seconds."
        retryAfter:
          type: integer
          description: Seconds until rate limit resets
          example: 45

  responses:
    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Seconds until window resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitError'

security:
  - bearerAuth: []
  - cookieAuth: []
